global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
      {% for host in groups['node_exporter'] %}
      {% if inventory_hostname != host %}
        - '{{ host }}:9100'
      {% endif %}
      {% endfor %}

rule_files:
  - alert.rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
    {% for host in groups['alertmanager'] %}
    {% if inventory_hostname != host %}
      - '{{ host }}:9093'
    {% endif %}
    {% endfor %}